/node_modules
/public/hot
/public/storage
/public/images/newsletter
/public/images/customers_logos
/public/images/image_products
/public/images/proyectos
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
