.messageContainer{
        /* display: flex; */
    /* padding: 160px; */
    background-color: #333333;
    height: 97px;
    /* align-items: center; */
}

.internalContainer{
    display: flex;
    /* border: solid 2px grey; */
    padding: 20px;
    border-radius: 25px;
    align-items: center;
    background: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logoContainer{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 17px;
    height: 100%;
    align-items: center;
}

.logoMessage{
    width: 200px;
    padding: 20px;
}

.titleContainer{
    margin: 20px;
    color: #23233a;
    letter-spacing: 2px;
}

.contentContainer{
    margin: 20px;
    font-size: larger;
}

