:root{
    --background-gray: #f5f5ee;
    --vinotinto: #8A181B;
    --beige: #EDDDCD;
    --font-black: #323232;
    --vinotintoDisabled: #8a181b4f;
}
.contenedor-message{
    display: flex;
    justify-content: center;
    background-color: var(--vinotinto);
    text-align: justify;
}
.mensaje{
    color: white;
    border: 2px solid;
    padding: 45px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: min(7%, 200px);
}
.mensaje p{
    margin-bottom: 2rem;
    line-height: 1.8rem;
}

.contenedor-mision{
    display: flex;
    background-image: url('../images/modulartop/mision.png');
    min-height: 550px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: -1px;
}
.marco{
    display: flex;
    flex-direction: column;
    margin: 5% 9%;
    font-size: large;
    font-weight: 500;
}
.mision-title{
    margin-top: 20%;
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: .5rem;
}
.mision-text{
    text-align: justify;
    font-size: 2rem;
}

.contenedor-vision{
    display: flex;
    background-image: url('../images/modulartop/vision.png');
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: -1px;
}
.vision-text{
    text-align: justify;
    font-size: 2rem;
    margin-bottom: 20%;
}
.vision-title{
    margin-top: 20%;
    font-size: 4.6rem;
    font-weight: bold;
    letter-spacing: .5rem;
}

.contenedor-valores{
    display: flex;
    background-image: url('../images/modulartop/valores.png');
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--beige);
    margin-top: -1px;
}

.contenedor-valores li{
    margin-bottom: 15px;
}
.valores-title{
    margin: 5% 0 1% 0;
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: .5rem;
}
.valores-text{
    text-align: justify;
    font-size: 1.5rem;
}

.contenedor-nota{
    display: flex;
    background-color: #231F20;
    min-height: 500px;
    color: var(--beige);
    margin-top: -1px;
}
.nota-title{
    margin: 5% 0 5% 0;
}
.nota-text{
    text-align: justify;
    font-size: 1.5rem;
}