.form-group span {
    color: crimson;
    margin-left: 3px;
    font-weight: bolder;
    vertical-align: top;
}


.images-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.images-container img{
    height: 100px;
    border: 2px solid #ededed;
    margin: 2px;
}


.images-container-product{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.images-container-product img{
    height: 100px;
    border: 2px solid #ededed;
    margin: 2px;
}

.div-trash{
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        margin: -16px;
        text-align: center;
        /* border: 1px solid red; */
        cursor: pointer;
        font-size: 25px;
}

.image-trash{
    margin: 7px;
}
#sizeFile{    
    text-transform: none !important;
}

label.error{
    color: crimson !important;
    font-weight: bolder;
    /* font-size: 10px !important; */
}

input.error{
    border: 1px solid crimson !important;
}

select.error{
    border: 1px solid crimson !important;
}
.container-error{
    text-align: center;
}

.borde-tab-content{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 15px;
}
.container-buttons{
    display: flex;
    gap: 20px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}