.form-group span {
    /* color: crimson; */
    margin-left: 3px;
    font-weight: bolder;
    vertical-align: top;
}

label.error{
    color: crimson !important;
    font-weight: bolder;
    /* font-size: 10px !important; */
}
.asterisco{
    color: crimson;
}

