.form-group span{
    color: crimson;
    margin-left: 3px;
    font-weight: bolder;
    vertical-align: top;
}

.container-hidden{
    opacity: 1;
    visibility: visible;
    display: none;
    overflow: hidden;
}

.uppercase-field{
    text-transform: uppercase;
}

