.contenido-subcribe{
    display: flex;
}
.imagen-content{
    width: 50%;
    background-image: url('../images/popup.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 3px;
}
.formulario-content{
    width: 50%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
}

#modal-content-newsletter{
    background-color: #020201;
}

#close-newsletter{
    color: white;
}
.modal-header{
    border: none !important;
}
.contenedor-title{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px
}
.form-title{
  color: white;
  font-size: medium;
}
.form-subtitle{
  font-size: smaller;
  color: #6f6d69;
}

@media (max-width: 765px) {
  .contenido-subcribe{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagen-content{
    width: 100%;
    height: 300px;
  }
  .formulario-content{
    width: 100%;
  }
}
